<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Test Suite" parallel="false">

    <listeners>
        <listener class-name="listeners.ExtentReportListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="tests.auth.LoginTest"/>
        </classes>
    </test>

    <test name="Employee Tests">
        <classes>
            <class name="tests.employee.CreateEmployeeTest"/>
            <class name="tests.employee.UpdateEmployeeTest"/>
            <class name="tests.employee.DeleteEmployeeTest"/>
        </classes>
    </test>

    <test name="Division Tests">
        <classes>
            <class name="tests.division.CreateDivisionTest"/>
            <class name="tests.division.UpdateDivisionTest"/>
            <class name="tests.division.DeleteDivisionTest"/>
        </classes>
    </test>

    <test name="Training Tests">
        <classes>
            <class name="tests.training.CreateTrainingTest"/>
            <class name="tests.training.UpdateTrainingTest"/>
        </classes>
    </test>

    <test name="Chapter Tests">
        <classes>
            <class name="tests.chapter.CreateChapterTest"/>
            <class name="tests.chapter.UpdateChapterTest"/>
        </classes>
    </test>

    <test name="Content Tests">
        <classes>
            <class name="tests.content.CreateContentTest"/>
            <class name="tests.content.UpdateContentTest"/>
            <class name="tests.content.DeleteContentTest"/>
        </classes>
    </test>

    <test name="Delete Chapter and Training Tests">
        <classes>
            <class name="tests.chapter.DeleteChapterTest"/>
            <class name="tests.training.DeleteTrainingTest"/>
        </classes>
    </test>

</suite>
