<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Test Suite" parallel="false">

    <listeners>
        <listener class-name="listeners.ExtentReportListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="tests.auth.LoginTest"/>
        </classes>
    </test>

    <test name="Create and Update Tests">
        <classes>
            <class name="tests.employeeModule.division.CreateDivisionTest"/>
            <class name="tests.employeeModule.division.UpdateDivisionTest"/>
            <class name="tests.employeeModule.employee.CreateEmployeeTest"/>
            <class name="tests.employeeModule.employee.UpdateEmployeeTest"/>
            <class name="tests.employeeModule.employee.TransferEmployee"/>
            <class name="tests.trainingModule.training.CreateTrainingTest"/>
            <class name="tests.trainingModule.training.UpdateTrainingTest"/>
            <class name="tests.trainingModule.chapter.CreateChapterTest"/>
            <class name="tests.trainingModule.chapter.UpdateChapterTest"/>
            <class name="tests.trainingModule.content.CreateContentTest"/>
            <class name="tests.trainingModule.content.UpdateContentTest"/>
            <class name="tests.trainingModule.training.AssignedEmployeeTest"/>
        </classes>
    </test>

    <test name="Get Data Verification Tests">
        <classes>
            <class name="tests.employeeModule.division.GetDivisionTest"/>
            <class name="tests.trainingModule.training.GetTrainingTest"/>
            <class name="tests.trainingModule.chapter.GetChapterTest"/>
            <class name="tests.trainingModule.content.GetContentTest"/>
            <class name="tests.employeeModule.employee.GetEmployeeTest"/>
        </classes>
    </test>

    <test name="Delete Tests">
        <classes>
            <class name="tests.trainingModule.content.DeleteContentTest"/>
            <class name="tests.trainingModule.chapter.DeleteChapterTest"/>
            <class name="tests.employeeModule.employee.DeleteEmployeeTest"/>
            <class name="tests.employeeModule.division.DeleteDivisionTest"/>
            <class name="tests.trainingModule.training.DeleteTrainingTest"/>
        </classes>
    </test>

</suite>
